.config/gcloud
.DS_Store
.config/configstore
.config/rstudio
.config/AWS\ VPN\ Client
.config/AWSVPNClient
secrets.lua
.config/herdr/session.json
.config/herdr/herdr-server.log
.config/herdr/herdr-client.log
.config/herdr/release-notes.json
