<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>7CE1256C-7564-4DFE-9B9F-BDB4C4FE9F7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A74E4926-9E3C-4406-B257-950C398CF343</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8685F8E3-A090-4528-92FC-170D145022DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>490E1A36-CE0F-4A16-BE35-DD811ACC2223</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A74E4926-9E3C-4406-B257-950C398CF343</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8685F8E3-A090-4528-92FC-170D145022DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hkgnp</string>
	<key>description</key>
	<string>Add a quick note to Logseq using quickCapture</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Brew Update and Upgrade</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>brew update &amp;&amp; brew upgrade</string>
				<key>title</key>
				<string>Running.. Please wait..</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A74E4926-9E3C-4406-B257-950C398CF343</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>brew update &amp;&amp; brew upgrade</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8685F8E3-A090-4528-92FC-170D145022DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>brew</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Brew Update and Upgrade</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7CE1256C-7564-4DFE-9B9F-BDB4C4FE9F7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Completed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>490E1A36-CE0F-4A16-BE35-DD811ACC2223</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This Alfred workflow adds a Quick Note to an already open Logseq instance using the quickCapture method.</string>
	<key>uidata</key>
	<dict>
		<key>490E1A36-CE0F-4A16-BE35-DD811ACC2223</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>7CE1256C-7564-4DFE-9B9F-BDB4C4FE9F7A</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>8685F8E3-A090-4528-92FC-170D145022DF</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>A74E4926-9E3C-4406-B257-950C398CF343</key>
		<dict>
			<key>xpos</key>
			<real>160</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>v0.0.3</string>
	<key>webaddress</key>
	<string>https://hkgnp.vercel.app/hkgnp</string>
</dict>
</plist>
